@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

/* ==================
    UNIVERSAL STYLES
   ================== 
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* ================= 
       LAYOUT
   ================= 
*/

.logo {
  width: 100px;
  filter: invert(87%) sepia(21%) saturate(7478%) hue-rotate(115deg)
    brightness(102%) contrast(95%);
  margin-left: 10.5rem;
}

.content {
  color: white;
  position: absolute;
  top: 22rem;
  left: 11rem;
}

.content,
span,
h4 {
  font-weight: 300;
}

h4 {
  margin-bottom: 0.75rem;
  font-size: 20px;
  animation: moveFromTop 1.5s ease-out;
}

span {
  display: block;
  font-size: 40px;
  animation: moveFromLeft 1.5s ease-out;
}

p {
  margin-top: 1rem;
  animation: moveFromRight 1.5s ease-out;
}

.paragraph {
  width: 40%;
  line-height: 1.7;
}

.btn {
  background-color: #65f5d2;
  display: inline-block;
  margin-top: 12px;
  margin-left: 4px;
  padding: 7px 26px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 100px;
  border: 1px solid rgb(26, 25, 25);
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  animation: moveFromBottom 1.25s ease-out;
  animation-delay: 1.5s;
  transition: all 0.2s ease-out;
  animation-fill-mode: backwards;
}

#step-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.step-container {
  text-align: center;
  width: 250px;
  margin-right: 1rem;
}

.step-number {
  position: relative;
  font-size: 45px;
}

.step-number:before {
  position: absolute;
  bottom: -8px;
  left: 105px;
  width: 42px;
  height: 2px;
  content: "";
  border-bottom: 3px solid #65f5d2;
}

.step-heading {
  text-align: center;
  font-weight: 300;
  margin-top: 2rem;
  font-size: 23px;
}

.title {
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.step-content {
  font-weight: 400;
}

.step-body {
  font-weight: 300;
  margin-top: 0.5rem !important;
  margin-bottom: 1rem;
  font-size: 15px;
}

/* ================= 
     ANIMATIONS
   ================= 
*/

.btn:hover {
  background-color: #12bb91;
  transform: translateY(-3px);
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: translateY(-2px);
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-400px);
  }

  80% {
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(125px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* ================= 
    MEDIA QUERIES
   ================= 
*/

@media only screen and (max-width: 920px) {
  .paragraph {
    width: 75%;
  }

  .logo {
    margin-left: 5rem !important;
  }

  .content {
    left: 6rem;
  }

  h4 {
    font-size: 15px;
  }

  span {
    font-size: 30px;
  }
}

@media only screen and (max-width: 375px) {
  .paragraph {
    width: 100%;
  }

  .content {
    left: 4rem;
    top: 10rem;
  }

  .logo {
    margin-left: 2rem !important;
  }

  h4 {
    font-size: 15px;
  }

  span {
    font-size: 30px;
  }
}
