@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  width: 100px;
  filter: invert(87%) sepia(21%) saturate(7478%) hue-rotate(115deg)
    brightness(102%) contrast(95%);
  margin-left: 10rem;
}

.content {
  font-family: "Lato", sans-serif;
  color: white;
  position: absolute;
  top: 22rem;
  left: 13rem;
}

.content,
span,
h4 {
  font-weight: 300;
}

h4 {
  margin-bottom: 0.75rem;
  font-size: 20px;
  animation: moveFromTop 1.5s ease-out;
}

span {
  display: block;
  font-size: 40px;
  animation: moveFromLeft 1.5s ease-out;
}

p {
  margin-top: 1rem;
  animation: moveFromRight 1.5s ease-out;
}

.paragraph {
  width: 40%;
  line-height: 1.7;
}

.btn {
  background-color: #65f5d2;
  margin-top: 12px;
  margin-left: 4px;
  padding: 7px 26px;
  border-radius: 100px;
  border: 1px solid rgb(26, 25, 25);
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-400px);
  }

  80% {
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:hover {
  background-color: #a5f3df;
  transform: scale(1.1);
}

@media only screen and (max-width: 920px) {
  .paragraph {
    width: 75%;
  }

  .logo {
    margin-left: 5rem !important;
  }

  .content {
    left: 6rem;
  }

  h4 {
    font-size: 15px;
  }

  span {
    font-size: 30px;
  }
}

@media only screen and (max-width: 375px) {
  .paragraph {
    width: 100%;
  }

  .content {
    left: 4rem;
    top: 10rem;
  }

  .logo {
    margin-left: 2rem !important;
  }

  h4 {
    font-size: 15px;
  }

  span {
    font-size: 30px;
  }
}
